body {
    background-color: white;
}

header {
    position: relative;
    
    width: 100%;
    min-height: 1500px;
        
    background: url(../img/radial_gradient.png) no-repeat center/cover,
    url(../img/legs.png) no-repeat center/cover,
    
    rgb(38, 45, 73); 
    /* radial-gradient(circle farthest-corner at right top,rgb(48, 59, 100) 50%,transparent); */
    background-size: 100%, 100%, 100%;
    background-blend-mode: overlay;

    clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%); 
  
}
 nav a {
    padding: 50px;
 }

nav ul {
    padding: 50px;
}

nav  ul li>a {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

h1 {
    color: white;
    text-align: center;
    padding: 10%;
    font-weight: 800;
    font-size: 50px; 
   
}

h1 p {
    color: white;
    font-weight: 200;
}

/* main */

/* blocks_services section*/

.blocks {
    display: block;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 30%;
    min-width: 60%;
    padding-bottom: 200px;
    z-index: 10;
}
.tree_color_blocks {
    padding-top: 550px;
    padding-bottom: 200px;
     
}

.block_red {
    background: url(../img/block_red.png) no-repeat;
    min-height: 300px;
}

.block_green {
    background: url(../img/block_green.png) no-repeat;
    min-height: 300px;
}

.block_blue {
    background: url(../img/block_blue.png) no-repeat;
    min-height: 300px; 
}

h2 {
    color: black;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    padding-bottom: 200px; 

}

h2 p {
    color: grey;
    font-weight: 400;
    font-size: 40px;
}

/* .services_section */


.cardio {
    min-height: 300px;
    background-color:grey;
   
}

.yoga {
    min-height: 300px;
    background-color:white;
    
} 

.training {
    min-height: 300px;
    background-color: grey;
}

/* dream_team section */

.dream_team {
    background-color:#f7f7f7;
    clip-path: polygon(0 22%, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    min-height: 1500px;
    position: relative;
    
}

.team {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 60%;
    z-index: 8;
}
