body {
    background-color: white;
}

.section1 {
    position: relative; 
    width: 100%;
    min-height: 1500px;
        
    background: url(../img/__\ IMG-header1.png) no-repeat center/cover;
    z-index: -2;
    padding-bottom: 100px;

}
.section1::before {
    content:"";
    display: block;
    position: absolute;
    background: linear-gradient(to right bottom, #282e46 50%,transparent 50%) no-repeat bottom;
    background-size: 100%;
    width: 100%;
    min-height: 15%;
    bottom: -15%;
    left: 0;
    right: 0;
    z-index: -1;
}

.section1::after {
    content:"";
    display: block;
    position: absolute;
    background: rgb(38, 45, 73,0.95);
    background-size: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}
/* 
::after {
    content:"";
    display: block;
    position: absolute;
    background: radial-gradient(rgb(244, 245, 248) 10%, transparent)no-repeat right;
    background-size: 50%;
    width: 50%;
    height: 50%;
    top: -20%;
    right: 0;
    z-index: -1;
} */

nav a {
    padding: 100px;
}

nav ul {
    padding: 100px;
}

nav  ul li>a {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

h1 {
    color: white;
    text-align: center;
    padding: 10%;
    font-weight: 800;
    font-size: 50px; 
   
}

h1 p {
    color: white;
    font-weight: 200;
}

.blocks {

    z-index: 1;
    position: absolute;
    z-index: 1;
    width: 60%;
    left: 20%;
    right: 20%;
    top: 100%;
}

.block_red {
    background: url(../img/block_red.png) no-repeat;
    min-height: 300px;
}

.block_green {
    background: url(../img/block_green.png) no-repeat;
    min-height: 300px;
}

.block_blue {
    background: url(../img/block_blue.png) no-repeat;
    min-height: 300px; 
}

h2 {
    color: black;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    padding-bottom: 200px; 

}

h2 p {
    color: grey;
    font-weight: 400;
    font-size: 40px;
}


/* .services_section {
    
    position: absolute;
    left: 20%;
    right: 20%;
    top: 80%;
    min-width: 60%;
    padding-bottom: 200px;
}

.cardio {
    min-height: 300px;
    background-color:grey;
   
}

.yoga {
    min-height: 300px;
    background-color:white;
    
} 

.training {
    min-height: 300px;
    background-color: grey;
} */

/* dream_team section */

/* .dream_team {
    background-color:#f7f7f7;
    clip-path: polygon(0 22%, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    min-height: 1500px;
    position: relative;
    
}

.team {
    display: block;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 30%;
    min-width: 60%;
    padding-bottom: 200px;
    z-index: 8;
} */
