body {
    background-color: white;
}

header {
    /* background-image: url(../img/__\ IMG-header1.png); */
    width: 100%;
    min-height: 1500px;
    position: relative;
    background: url(../img/__\ GLOW_EFFECT.png) no-repeat center/cover;
}

/* header::after {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 1000px;
    top: 0;
    left: 0;
    background-color:rgb(38, 45, 73,0.5);
    z-index: 2;
} */

nav  ul li>a {
      
    color: white;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 500px;
}

h1 p {
    color: white;
    font-weight: 200;
}

.tree_color_blocks {
    padding-top: 500px;
}

.block_red {
    background: url(../img/block_red.png) no-repeat;
    min-height: 300px;
}

.block_green {
    background: url(../img/block_green.png) no-repeat;
    min-height: 300px;
}

.block_blue {
    background: url(../img/block_blue.png) no-repeat;
    min-height: 300px; 
}
