/* body */
    .container {
        box-sizing: border-box;
        max-width: 500px;
        left: 0;
        background-color: rgb(143, 188, 143,0.5);
    }

    h1 {
        box-sizing: border-box;
        max-width: 500px;
        left: 0;
        background-color: rgb(143, 188, 143,0.5);
        margin: 0;
        padding-left: 10px;
    }

    form {
        display: block;
        width: 300px;
        padding: 10px;
    }

/* textarea */
    textarea {
        width: 200px;
        height: 200px;
        max-width: 300px;
        min-width: 100px;
        resize: none;
    }

    textarea:hover {
        background-color: rgba(91, 170, 0, 0.4);
        transition: all 1s ease;
    }

    textarea:focus{
        background: rgba(117, 179, 219, 0.4);
        transition: all 1s ease;
    }

/* input checkbox*/

    div input[type="checkbox"] {
        display: none;
    }

    div input[type="checkbox"] + label{
        padding-left: 30px;
        margin-left: 20px;
        position: relative;
    }
    div input[type="checkbox"] + label:before{
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: pink;
        top: 4px;
        left: 0;
    }
    div input[type="checkbox"]:checked + label:after{
        content: "";
        position: absolute;
        width: 9px;
        height: 15px;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        transform: rotate(40deg);
        top: 4px;
        left: 4px;
    }
/* all inputs */
    div input {
        border: none;
    }

    div input:hover {
        border: 1px dotted #6d32da;
        border-radius: 5px;
    }

    div input:focus {
        outline: none;
        border: 1px solid #6d32da;
        border-radius: 5px;
        background-color: #cecff5;
    }
/* input placeholder */

    div input::placeholder {
        opacity: 0.2;
        font-size: 1.2em;
        padding-left: 10px;
    }
    div input:hover::placeholder {
        opacity: 1;
    }
    
    div input:focus::placeholder {
        opacity: 1;
        color: rgb(89, 0, 255,0.5);
    }

    textarea ::placeholder {
        color: #0000cd;
    }

/* select arrow */
    .select {
        position: relative;
        display: inline-block;
        margin-bottom: 10px;
    }

    .select select {
        display: block;
        width: 100px;
        height: 50px;
        top: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        border: 3px solid #ccc;
        border-radius: 5px;
        font-family: inherit;
        font-size: 1rem;
        color: rgb(179, 69, 160);
    }

    .select:after{
        content:"";
        display: block;
        position: absolute;
        background: url(../img/pngwing.com.png)no-repeat right;
        background-size: 30px;
        pointer-events: none;
        width: 30px;
        height: 30px;
        top: 0;
        right: 0;
        margin: 10px;
        z-index: 5;
    }   
        

    .button1 {
        border: 1px solid #6d32da;
        border-radius: 5px;
        font-size: 1rem;
        color: #1a37e0;
        outline: none;

    }

    .button2 {
        border: 1px solid #6d32da;
        border-radius: 5px;
        font-size: 1rem;
        color: #1a37e0;
        outline: none;
    }


