@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */

/* @font-face {
    font-family: 'kobzar';
    src: url('../fonts/8926-webfont.eot');
    src: url('../fonts/8926-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/8926-webfont.woff2') format('woff2'),
         url('../fonts/8926-webfont.woff') format('woff'),
         url('../fonts/8926-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

} */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background: url(../img/бэкграунд.png);
}

.clearfix:after {
    content: " ";
    display: block;
    clear:both;
}

/* <header> */
.tel {
    text-align: right;
}

.tel li>a {
    text-decoration: none;
    color:black;
    font-weight: 600;
}

.links {
    text-align: center;
    font-size: 0;
    position: relative;
}

.links li {
    display: inline-block;
    margin: 5px;
    font-size: 16px;
    
}

.links li>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    
}
/* 
.links li>a::after {
    display: inline-block;
    content: " ";
    position: absolute;
    left: 0;
    max-width: 2px;
} */

/* <main> */

.wrapper {
    margin-top: 10px;
}
/* section1 */
.baner {
    background: url(../img/банер\ \(1\).png) no-repeat center/cover;
    position: relative;
    max-width: 1200px;
    
}

.bluearrow {
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 33%;
       
} 

.text2 img {
    position: relative; 
    display: block;
    text-decoration: none;
    float:  left;
    padding: 50px 60px 100px 20px;
    background: url(../img/стрелка.png) no-repeat left/cover;
    
}

.text2 h2 {
    content: " ";
    position: absolute;
    text-shadow: -1px -1px 0px white;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    /* font: 400 20px/1.5 black; */
    text-transform: uppercase;
    width: 250px;
    padding-left: 100px;
    padding-top: 130px;
    
}

.text1 { 
    float: right;
    width: 66%;
    font-family: 'Roboto', sans-serif; 
    color: white;
    padding-top: 120px;
    padding-bottom: 100px;
}

/* section2 */

.services {
    padding-top: 200px;
}

.business {
    width: 25%;
    float: left;
    padding-left: 70px ;
    position: relative;
}

.business::before {
    content: url(../img/business1.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}
.business::after {
    content: url(../img/бордер.png);
    position: absolute;
    top: 0;
    left: 65px;
    width: 5px;

}

.user {
    display: block;
    width: 25%;
    float: left;
    position: relative;
    padding-left: 80px;
}

.user::before {
    content: url(../img/user2.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}

.user::after {
    content: url(../img/бордер.png);
    position: absolute;
    top: 0;
    left: 70px;
    width: 5px;
}

.sale {
    display: block;
    width: 25%;
    float: left;
    position: relative;
    padding-left: 90px;
}

.sale::before {
    content: url(../img/sale3.png);
    position: absolute;
    top: 30%;
    left: 0;
    width: 100px;
}

.sale::after {
    content: url(../img/бордер.png);
    position: absolute;
    top: 0;
    left:85px;
    width: 5px;
}

.services div>ul {
    padding-top: 30px;
    display: block;

}

/* news */

.news {
    float: left;
    width: 30%;
    padding-top: 150px;
    margin: 10px;
}

.news div {
    margin-top: 20px;
}

.news div>p {
    margin-top: 20px;
}

.news div>h4 {
    width: 100px;
    background-color:#3676a4;
    color: white;
    padding-left: 10px;
   
}
 h3 {
    color: #3676a4;
 }

 /* justice */

.justice {
     width: 60%;
     float: left;
     padding-top: 150px;
     margin: 10px;
     padding-left: 50px;
 }

.justice p {
    margin-top: 20px;
    line-height: 2.5;
}

/* button */

.button {
    max-width: 1200px;
    font-size: 0;
    position: relative;
}

.button div {
    display: inline-block;
    background-color:#3676a4;
    text-align: center;
    min-width: 50%;
} 

.button a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    
}

.button h2 {
    font-size: 20px;
    font-weight: 100;
}

/* footer */

footer {
    padding-top: 50px;
}

footer .adress {
    float: right;
}

.adress ul li > a {
    padding-left: 120px;
    color: black;
    text-decoration: none;
} 

/* logo */
 footer .sprites{
    list-style: none;
    font-size: 0;
    float: left;

}

footer .sprites .logo li {
    display: inline-block;
    font-size: 16px;
        
} 

footer .sprites .logo li>a {
    display: block;
    width: 28px;
    height: 24px;
    float: left;
    background-image: url(../img/sprites-PS1.png);
    transition: all 1.5s ease 0.5s;
   
}

footer li > a{
	background-position: 0 -25px;
}
footer li + li > a{
	background-position: -30px -25px;
}
footer li + li +li > a{
	background-position: -60px -25px;
}
footer li + li +li +li > a{
	background-position: -90px -25px;
}

footer li > a:hover{
	background-position: 0 0;
}
footer li + li > a:hover{
	background-position: -30px 0;
}
footer li + li +li > a:hover{
	background-position: -60px 0;
}
footer li + li +li +li > a:hover{
	background-position: -90px 0;
}





   




