body {
  background: #d4d2d2;
}
.protein {
  background: #d18553;
  width: 400px;
  padding-left: 20px;
  padding-top: 5px;
  box-sizing: border-box;
  margin-top: 20px;
}

.vegetables {
  background: #008000;
  width: 400px;
  padding-left: 20px;
  padding-top: 5px;
  box-sizing: border-box;
  margin-top: 20px;
}

.fruits {
  background: #adff2f;
  width: 400px;
  padding-left: 20px;
  padding-top: 5px;
  box-sizing: border-box;
  margin-top: 20px;
}

.whole_grains {
  background: tomato;
  width: 400px;

  padding-left: 20px;
  padding-top: 5px;
  box-sizing: border-box;
  margin-top: 20px;
}

div > span {
  color: #00ced1;
  background: #ebe083;
  font-size: 40px;
  font-weight: 400;
}
div > p {
  background: #6097ce;
  width: 400px;
  font-size: 20px;
  font-weight: 100px;
  padding-left: 20px;
  padding-top: 10px;
  box-sizing: border-box;
}

.sidebar {
  background: #deb887;
  width: 500px;
}
.plate {
  width: 500px;
}
.platewithfood {
  width: 500px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.food {
  padding-left: 100px;
  padding-right: 100px;
}
ol {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 100px;
}
h2 {
  text-align: center;
  background: #fff8dc;
}
h3 {
  font-size: 20px;
  font-weight: 100px;
  padding-left: 10px;
  background: #fff8dc;
}
ul > li {
  font-size: 20px;
  font-weight: 100px;
}

.elements {
  background: #ffd700;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border: 8px dotted #ffa500;
}

header {
  background: #95d11e;
  text-align: center;
  height: 100px;
  margin: 20px 5px;
  padding: auto;
  border-style: ridge;
  border-width: 5px;
  border-color: #dbd879;
}

footer {
  background: #03998f;
  border: groove 3px #005a6e;
  padding: 10px;
  margin: 20px 5 px;
  font-size: 18px;
}
