nav {
    margin: 100px 0;
    background-color: #19e668;
    
}

/* убираем отступы и поля, а также list-style для "ul", 
 * и добавляем "position:relative" */
nav ul {
    padding:0;
    margin:0;
    list-style: none;
   
}

/* стилизуем ссылки */
nav a {
    display:block;
    width: 300px;
    padding:10px;
    color:#FFF;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
  
    
}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
    background-color: #b1c02a;
}

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
    margin: 0;
    display:inline-block;
    background-color: #046320;
    position: relative;
}

/* скрываем выпадающие списки по умолчанию и задаем абсолютное позиционирование */
nav ul li > ul {
    display: none;
    content: "";
    position: absolute;
    top: 100%;
	/* CSS-анимация */
	max-height: 0px;
	transition: max-height 0.4s linear;
	-webkit-transition: max-height 0.4s linear;
	-moz-transition: max-height 0.4s linear;
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
    display: block;
    max-height: 500px;
    
}

/* первый уровень выпадающего списка */
nav ul ul li {
    display:list-item;
    position: relative; 
} 

.parent {
    font-size: 0;
}

.menu {
    min-width: 300px;
}

.link1 {
    display: inline-block;
    width: 260px;
    box-sizing: border-box;
    font-size: 16px;
}

.link2{
    display: inline-block;
    width: 260px;
    box-sizing: border-box;
    font-size: 16px;
}

.link3 {
    display: inline-block;
    width: 260px;
    box-sizing: border-box;
    font-size: 16px;
}

/* magnifying-glass */
.magnifying-glass {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 10px;
    width: 40px;
    height: 40px; 
    box-sizing: border-box;
    background-color: aliceblue;
    border: 5px solid slategray;
    border-radius: 50%;
}

.magnifying-glass:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 10px;
    background-color: slategray;
    border-radius: 0 7.0px 7.0px 0;
    transform-origin: 0 85%;
    transform: translateX(70%) rotate(60deg);
}




